@font-face {
    font-family: 'Gilam';
    src: url(../fonts/Gilam/Gilam-Trial-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Gilam';
    src: url(../fonts/Gilam/Gilam-Trial-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url(../fonts/Circe/Circe-Bold.ttf) format("truetype");
}
body {
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    background-color: #171717;
    width: 1920px;
    height: 4000px;
}

                                /* header */
                                
.logo-link {
    width: 216px;
    height: 33px;
    margin: 46px 0 0 230px;
}
.btr-item {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    width: 218px;
    height: 50px;
    font-size: 18px;
    color: #e4b564;
    border: 1px solid #e4b564;
    text-align: center;
    position: absolute;
    left: 1472px;
    top: 37px;
}
.btr-link {
    margin: 10px;
} 
.header-text  {
    font-size: 50px;
    color: #ffffff;  
    position: absolute;
    width: 600px;
    height: 28px;
    left: 230px;
    top: 207px;
}
.text-content {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    width: 1182px;
    height: 56px;
    left: 230px;
    top: 276px;
}

                                   /* main */
.main-outdoor {
    display: grid;
    grid-template-columns: repeat(6, 230.5px);
    grid-template-rows: repeat(2, minmax(468px, auto));
   
    grid-auto-rows: minmax(150px, auto);
    row-gap: 27px;
    column-gap: 16px;
  
    text-align: center; 
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    width: 467px;
    height: 468px;
    left: 230px;
    top: 373px;
}
.item-outdoor-one {
    background-color: #634f2c;
    grid-area: 1 / 1 / 2 /3;   
}
.item-outdoor-one > p {
    margin: 220px 149px;
}
.item-outdoor-two {
    background-color: #B4A385;
    grid-area: 1 / 3 / 1 /5;   
}
.item-outdoor-two > p {
    margin: 206px 43px;
}
.item-outdoor-three {
    background-color: #E4B564;
    grid-area: 1 / 5 / 1 /7;
}
.item-outdoor-three > p {
    margin: 220px 141px;
}
.item-outdoor-four {
    background-color: #635A4A;
    grid-area: -1 / -4 / -2 / -7;
}
.item-outdoor-four > p {
    margin: 220px 162px;
}
.item-outdoor-five {
    background-color: #B08C4D;
    grid-area: 2 / -1 / 3 / 4;
}
.item-outdoor-five > p {
    margin: 220px 239px;
}


.main-text {
    font-size: 50px;
    position: absolute;
    left: 230px;
    top: 1497px;
    color: #ffffff;
}

.technique {
    font-size: 20px;
    position: relative;
    left: 230px;
    top: 1571px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
  
}
.item-technique-1 {
    background-color: #0E0E0E;
    width: 467px;
    height: 313px;
    margin: 0 30px 24px 0;
    padding: 44px 113px 219px 52px;
   
}
.item-technique-2 {
    background-color: #242424;
    width: 467px;
    height: 439px;
    margin: 0 29px 33px 0;
    padding: 44px 114px 345px 51px;

}

 
.text {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    
}
.item-technique-3 {
    background-color: #1F1F1F;
    width: 467px;
    height: 255px;
    padding: 44px 117px 186px 48px;

}
.item-technique-4 {
    background-color: #1F1F1F;
    width: 467px;
    height: 560px;
    margin:-135px 29px 0 0;
    padding: 56px 113px 479px 52px;

}
.item-technique-5{
    background-color: #E4B564;
    width: 467px;
    height: 405px;
    margin: 0 30px 0 0;
    padding: 47px 113px 333px 52px;
} 
.item-technique-6 {
   background-color: #0E0E0E;
   width: 467px;
   height: 313px;
   margin: -184px 0 0 0;
   padding: 44px 117px 244px 48px;
}
.item-technique-3, .item-technique-4, .item-technique-5, .item-technique-6 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
}
.item-technique-7 {
    background-color: #0A0909;
    width: 467px;
    height: 277px;
    margin: -270px 0 0 993px;
    padding: 44px 117px 208px 48px;
}

.footer {
    position: absolute;
     width: 1920px;
    height: 1054px;
    left: -2px;
    top: 2707.19px;
    background-color: #0E0E0E;
}

.footer-text-btr {
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.footer-text {
    
font-family: 'Gilam';
font-style: normal;
font-weight: 700;
font-size: 50px;
color: #FFFFFF;
margin: 147px 0 0 230px;

}
.footer-btr {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    color: #E4B564 ;
    display: flex;
    justify-content: center;
    margin: 0 0 0 683px;
}

.footer-clients-projects > div {
    width: 487px;
    height: 391px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-clients-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 61px;
}
.footer-item1 {
    background-color: #634F2C;
  
}
.footer-eid {
    width: 185px;
    height: 49px;
}
.footer-item2 {
    background-color: rgba(232, 210, 171, 0.76);
    
}
.footer-mavis3 {
    width: 62px;
    height: 55px;
    margin: 61px 0 0 0;
}
.footer-mavis {
    width: 139px;
    height: 55px;
}
.footer-mavis-text {
    color: #ffffff;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    width: 326px;
    height: 140px;
    text-align: center;
    white-space: pre-line;
}
.footer-mavis-text > span {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
}
.footer-mavis-logo2 {
    left: 49.11%;
    right: 49.58%;
    margin: 12px;
}
.footer-item3 {
    background-color: #E4B564;
}
.footer-arsenal {
    width: 190px;
    height: 42px;
}
.footer-item4 {
    background-color: #635A4A;
}
.footer-item5 {
    background-color: #B08C4D;
}
.footer-item6 {
    background-color: #634F2C;
}